---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  filename: "themes/evergarden-{{flavor.identifier}}-{{accent}}.yml"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
{%- set accent = flavor.colors[accent] -%}

colourful: true

filekinds:
  normal: {foreground: "{{text.hex}}"}
  directory: {foreground: "{{blue.hex}}"}
  symlink: {foreground: "{{pink.hex}}"}
  pipe: {foreground: "{{subtext1.hex}}"}
  block_device: {foreground: "{{red.hex}}"}
  char_device: {foreground: "{{red.hex}}"}
  socket: {foreground: "{{subtext1.hex}}"}
  special: {foreground: "{{purple.hex}}"}
  executable: {foreground: "{{green.hex}}"}
  mount_point: {foreground: "{{aqua.hex}}"}

perms:
  user_read: {foreground: "{{red.hex}}", is_bold: true}
  user_write: {foreground: "{{yellow.hex}}", is_bold: true}
  user_execute_file: {foreground: "{{green.hex}}", is_bold: true}
  user_execute_other: {foreground: "{{green.hex}}", is_bold: true}
  group_read: {foreground: "{{red.hex}}"}
  group_write: {foreground: "{{yellow.hex}}"}
  group_execute: {foreground: "{{green.hex}}"}
  other_read: {foreground: "{{red.hex}}"}
  other_write: {foreground: "{{yellow.hex}}"}
  other_execute: {foreground: "{{green.hex}}"}
  special_user_file: {foreground: "{{purple.hex}}"}
  special_other: {foreground: "{{overlay1.hex}}"}
  attribute: {foreground: "{{overlay2.hex}}"}

size:
  major: {foreground: "{{subtext1.hex}}"}
  minor: {foreground: "{{subtext0.hex}}"}
  number_byte: {foreground: "{{subtext0.hex}}"}
  number_kilo: {foreground: "{{subtext1.hex}}"}
  number_mega: {foreground: "{{cherry.hex}}"}
  number_giga: {foreground: "{{purple.hex}}"}
  number_huge: {foreground: "{{purple.hex}}"}
  unit_byte: {foreground: "{{overlay2.hex}}"}
  unit_kilo: {foreground: "{{subtext0.hex}}"}
  unit_mega: {foreground: "{{cherry.hex}}"}
  unit_giga: {foreground: "{{purple.hex}}"}
  unit_huge: {foreground: "{{cherry.hex}}"}

users:
  user_you: {foreground: "{{text.hex}}"}
  user_root: {foreground: "{{red.hex}}"}
  user_other: {foreground: "{{red.hex}}"}
  group_yours: {foreground: "{{subtext1.hex}}"}
  group_other: {foreground: "{{overlay2.hex}}"}
  group_root: {foreground: "{{red.hex}}"}

links:
  normal: {foreground: "{{blue.hex}}"}
  multi_link_file: {foreground: "{{blue.hex}}"}

git:
  new: {foreground: "{{green.hex}}"}
  modified: {foreground: "{{yellow.hex}}"}
  deleted: {foreground: "{{red.hex}}"}
  renamed: {foreground: "{{aqua.hex}}"}
  typechange: {foreground: "{{pink.hex}}"}
  ignored: {foreground: "{{overlay0.hex}}"}
  conflicted: {foreground: "{{orange.hex}}"}

git_repo:
  branch_main: {foreground: "{{snow.hex}}"}
  branch_other: {foreground: "{{purple.hex}}"}
  git_clean: {foreground: "{{green.hex}}"}
  git_dirty: {foreground: "{{red.hex}}"}

security_context:
  colon: {foreground: "{{overlay1.hex}}"}
  user: {foreground: "{{subtext0.hex}}"}
  role: {foreground: "{{purple.hex}}"}
  typ: {foreground: "{{yellow.hex}}"}
  range: {foreground: "{{purple.hex}}"}

file_type:
  image: {foreground: "{{skye.hex}}"}
  video: {foreground: "{{purple.hex}}"}
  music: {foreground: "{{pink.hex}}"}
  lossless: {foreground: "{{cherry.hex}}"}
  crypto: {foreground: "{{aqua.hex}}"}
  document: {foreground: "{{text.hex}}"}
  compressed: {foreground: "{{yellow.hex}}"}
  temp: {foreground: "{{red.hex}}"}
  compiled: {foreground: "{{snow.hex}}"}
  build: {foreground: "{{subtext0.hex}}"}
  source: {foreground: "{{blue.hex}}"}

punctuation: {foreground: "{{overlay1.hex}}"}
date: {foreground: "{{yellow.hex}}"}
inode: {foreground: "{{subtext0.hex}}"}
blocks: {foreground: "{{overlay2.hex}}"}
header: {foreground: "{{text.hex}}"}
octal: {foreground: "{{aqua.hex}}"}
flags: {foreground: "{{purple.hex}}"}

symlink_path: {foreground: "{{skye.hex}}"}
control_char: {foreground: "{{snow.hex}}"}
broken_symlink: {foreground: "{{red.hex}}"}
broken_path_overlay: {foreground: "{{red.hex}}"}
